.multiselect {
    height: max-content;
    min-height: 40px;
    width: 100%;
    border: 0.1px solid rgb(206, 205, 205);
    border-radius: 5px;
    position: relative;
    display: flex;

    .sub-multiselect {
        height: max-content;
        min-height: 40px;
        max-height: 330px;
        width: 100%;
        border: 0.1px solid gray;
        border-radius: 5px;
        position: absolute;
        top: calc(100% + 5px);
        overflow-y: scroll;

        p {
            line-height: 40px;
            text-align: center;
            font-size: 16px;
        }
    }

    .sub-multiselect ul {
        margin-top: 5px;
    }

    .main {
        width: 90%;
        flex-wrap: wrap;
        display: flex;

        input {
            border: none;
            font-size: 16px;
            margin-top: -5px;
            min-width: 10%;
            height: 35px;
        }
    }

    .main ul {
        padding-top: 7px;
        padding-left: 10px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

    .main ul li {
        background-color: rgb(240, 240, 240);
        display: flex;
        padding: 0 27px 0 10px;
        position: relative;
        height: 24px;
        line-height: 23px;
        margin-right: 10px;
        border-radius: 3px;
        margin-bottom: 5px;
    }

    .close-selected {
        position: absolute;
        right: 0;
        width: 20px;
        text-align: center;
        font-size: 12px;
        height: 24px;
        line-height: 24px;
        cursor: pointer;
    }

    .sub-multiselect ul li {
        height: 40px;
        line-height: 40px;
        padding-left: 10px;
        cursor: pointer;
    }

    .multi-icon {
        line-height: 100%;
        display: flex;
        width: 10%;

        div {
            width: 50%;
            text-align: center;
            font-size: 12px;
            height: 100%;
            color: rgb(182, 182, 182);
            cursor: pointer;
        }

        div:first-child {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
        }

        div:last-child {
            margin-top: 10px;
            height: calc(100% - 20px);
            margin-bottom: 10px;
            border-left: 0.1px solid rgb(231, 231, 231);
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
        }
    }
}

.close-selected:hover {
    background-color: rgb(255, 205, 205);
    color: red;
}

.multiselect:hover {
    box-shadow: rgb(231, 231, 231) 0px 0px 0px 1px;
}

.multiselect.active {
    box-shadow: rgb(0, 181, 253) 0px 0px 0px 1.5px;
}

.sub-multiselect ul li:hover {
    background-color: rgb(204, 239, 255);
}

input:focus {
    outline: 0;
}

.multi-icon div:hover {
    color: black;
}
